.plp_filte_name {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 32px */
}

.filter_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
}

.filter_element_text {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.filter_block {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.MuiSlider-thumb {
    border: 2px solid black;
    background-color: white;
}

.MuiSlider-root {
    color: black;
}

.plp_filte_range {
    display: flex;
    flex-direction: column;
    gap: 11px;
}