@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --Gray-Scale-White: #ffffff;
  --grey-dark: #2F3233;
  --grey-light: #7D7D7D;
  --purple: #2E1A35;
  --light-purple:#3C0E4D;
  --Solid-Colours-Brand-Gray-Gray-400: #E2E4E8;
  --Solid-Colours-Brand-Primary-Primary-800: #432E4A;
  --Solid-Colours-Standard-Black: #000000;
  
}

section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Manrope;
  background-color: #f1f4f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.app {
  margin-right: auto;
  margin-left: auto;
  /* max-width: 1440px; */
}
