jobs:
  deploy:
    permissions:
      contents: read
      packages: read 
    runs-on: ubuntu-latest
    steps:
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy application via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2222
          script: |
            cd /home/${{ secrets.SSH_USERNAME }}/wine-store

            echo "Створюємо .env файл…"

            cat <<EOF > .env
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_DB=${{ secrets.POSTGRES_DB }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_HOST=db
            POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}

            PRIVATE_KEY=${{ secrets.PRIVATE_KEY }}
            JWT_EXPIRATION_TIME=${{ secrets.JWT_EXPIRATION_TIME }}
            CORS_RULE=${{ secrets.CORS_RULE }}
            EOF

            echo "Оновлюємо образи…"
            docker compose pull

            echo "Перезапускаємо сервіси…"
            docker compose up -d --remove-orphans