name: Deploy Project

on:
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: read
      packages: read 
    runs-on: ubuntu-latest
    steps:
      - name: Deploy application via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2222
          script: |
            cd /home/${{ secrets.SSH_USERNAME }}/wine-store

            cat <<EOF > .env
            POSTGRES_USER=${{ secrets.POSTGRES_USER }}
            POSTGRES_DB=${{ secrets.POSTGRES_DB }}
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_HOST=db
            POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}

            PRIVATE_KEY=${{ secrets.PRIVATE_KEY }}
            JWT_EXPIRATION_TIME=${{ secrets.JWT_EXPIRATION_TIME }}
            CORS_RULE=${{ secrets.CORS_RULE }}
            EOF

            echo "Логінимось до GHCR на віддаленому сервері…"
            export DOCKER_CONFIG=/tmp/.docker
            mkdir -p $DOCKER_CONFIG
            echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin

            echo "Оновлюємо образи…"
            DOCKER_CONFIG=$DOCKER_CONFIG docker compose pull

            echo "Перезапускаємо сервіси…"
            DOCKER_CONFIG=$DOCKER_CONFIG docker compose up -d --remove-orphans
            
            rm -rf $DOCKER_CONFIG